/**************
   A few width items
   using @media query
**************/
@media only screen and (min-width: 1200px) {
    #contentArea {
        width: 70% ;
    }
    #menu { 
        width: 70% ;
    }
}

/*** Fix abbr tags on mobile ***/
abbr[title]:after {
    content: " (" attr(title) ")";
}
@media screen and (min-width: 1025px) {
    abbr[title]
    {
        cursor:help;
    }

    abbr[title]:after
    {
        content: "";
    }
}


/*******
 General
 ********/
/** Screw #layout and #contentArea height, give #html the same background colour */
html, body {
    background: #0E0E0E ;
    color: #F0F0F0 ;
}

/***************
** New header **
***************/
#top {
    border: none ;
}

/* Henk it! */
#logo a {
    height: 45px ;
    width: 150px ;
    background: url(https://tweakers.net/ext/f/5zAVOaOnkptw91F4uzckWMPh/full.png) no-repeat 20px -1px ;
}
/* Peek-a-boo Henk */
#logo a:hover {
    height: 45px ;
    width: 150px ;
    background: url(https://tweakers.net/ext/f/5zAVOaOnkptw91F4uzckWMPh/full.png) no-repeat 20px -20px ;
}

/* Remove the useless minibar with #slogan and #socialcount */
#menubottombar {
    display: none;
}
/* Default gray bar holding the search form and true logo
    Do not use display: none, search will disappear */
#searchbar {
    height: 0px ;
    z-index: 111 ;
}
/* Search form */
#search {
    position: fixed ;
    top: -5px;
    left: 1050px;
    width: 400px;
}
#search .keywordSearch {
    width: 300px;
    border: 1px solid #323333;
}
#search input.text {
    background: #232222 ;
}
#search .options, #search .options .dropdown ul {
    background: #323333 ;
}
#search .fancySelect span {
    color: #EDEEEE ;
}

/* User menu */
/*ul#userbar.loggedin li.more.last span.username {
    background-size: contain ;
    padding-left: 45px ;
    background-image: url('https://ic.tweakimg.net/usericons/125506/link-8bit-xmas.png') ;
    background-position: left ;
} */

ul.profileNavigation, ul.profileNavigation li.indent {
    background-color: #212323;
    color: #EDEEEE ;
}
ul.profileNavigation li a {
    color: #EDEEEE ;
}
.dropdown li a, #menu .dropdown ul a {
    color: #FFFFFF ;
}
div#menubar div#menu ul#userbar.loggedin li.more.last.dropdown, ul.profileNavigation li.indent a {
    background-color: #212323;
    color: #e6e6e6 ;
}
#menu .dropdown li.indent:hover {
    background-color: #813 ;
    color: #000000;
}

/* Kill that useless compare icon */
#userbar li.compare {
    display: none;
}

/** Menu */
.unread .newNotificationsCount {
    color: #000000 ;
}
#menu li a {
    color: #C8CBCB ;
}
#menu li.active a {
    color: #D9FF26 ;
}
#menu .dropdown > span, .dropdown li, .dropdown li a, #menu .dropdown ul a {
    color: #000000 ;
}

/** Notifications */
.notificationsPopup .header h3 {
    color: #000000 ;
}
div.popup {
    background: #323131 ;
}
.scrollableList .listItem:hover {
    background: #323434 ;
}
.menuHeaderPopup .notification.unread:hover {
    background: #454444 ;
}
.menuHeaderPopup .notification.unread {
    background: #414040 ;
}
#webPushContainer {
    display: none;
}

/*******************
** End new header **
*******************/

/** Overall background */
#layout {
    background: #0E0E0E ;
    padding-top: 5px ;
    height: 100% ;
}

/** Give the actual content a different background colour */
#contentArea {
    background: #323434 ;
    padding: 5px 5px 10px 5px ;
/*  padding-bottom: 25px ;*/
    position: relative ;
/*  margin: 0px 5px ; */
}

/* Global .bar style */
.bar {
    background-color: #323333;
    color: #EDEEEE;
}

/* Gallery */
.galleryHeadingContainer>div {
    border-top: none ;
}
.galleryHeadingContainer, .pageTabsContainer {
    background-color: #212323 ;
}
div.galleryBody h3.bar {
    background: #212323 ;
}
.galleryTable.karma td {
    background: #323434 ;
}
ul.galleryProfile li.checked {
    color: #EDEEEE ;
}

/** Unsorted meuk */
h3, h3 a {
    color: #FFFFFF ;
}

/* No background for user icons */
.thumb {
    background: none ;
}

/** Bottom */
#bottom div.hr {
    background: #202020 ;
}

/** Text boxes (search, reply) */
textarea#messageBox, input {
    color: #FFFFFF;
    background: #1E1E1E;
}

/** Tracker */
#tracker .trackeritem li a { 
    color: #B7B4B2 ;
}
#tracker .trackeritem li .new, #tracker .trackeritem li a:hover, #tracker .trackeritem li a:hover .time { 
    color: #d9ff26 ;
}
#tracker .trackeritem h4, #tracker .trackeritem h4 a { 
    color: #D7D6D4 ;
}
#tracker {
    padding-top: 0px ;
    top: 45px ;
}
.fakeTop {
    display: none;
}

/* Background color of tabs */
.pageTabs li {
    background: #212323 ;
}
.pageTabs li.active {
    background: #323434 ;
}

/* Hyperlinks */
a {
    color: #EDEEEE ;
}
a:visited {
    color: #878888 ;
}

/* New DM/PM message */
form.insertMessage {
    background: inherit;
}

/* Badges */
.labelCard, ul.topKarma.show {
    background: #000000 ;
}
.karmaPopup ol li.highlight {
    color: #FFFFFF;
}

/* Fix anchor location due to fixed header */
/* More likely in GoT */
a[name] {
    display: block;
    padding-top: 45px;
    margin-top: -45px;
}

/*******
   FP
 *******/
/** Main content */
/* Tabs */
#fp_tabs li a {
    color: #ABAAAA ;
}
#fp_tabs li.active a {
    color: #FFFFFF ;
}

/* Whitepapers */
.itknowledgebasewrapper {
    background: #212323 ;
}

/** Tile items */
.fpaItem>a {
    background: rgba(0,0,0,0.8);
}
.fpaTitle h2 {
    color: #b9133d ;
}

/** Article Listing */
table.highlights td a {
    color: #EDEEEE ;
}
table.highlights td a:visited {
    color: #888888 ;
}

table.highlights {
    border-top: 1px solid #000 ;
}
table.highlights td {
    border-bottom: 1px solid #000 ;
}
table.highlights .publicationTime span.new {
    color: #A9CC0B ;
}
table.article {
    background: inherit ;
}
/* More items popup */
.moreItems .popupContent {
    background: #2E2F2F ;
}

/* Link to Replies on frontpage */
td.replies a.commentCount:visited {
    color: inherit;
}

/** Second Column - PW, Jobs, Newsletter, etc. */
#pricewatch, #jobs, #poll, .pollWrapper, #newsletter, #textlink, #social .twitterButton, #social .facebookButton {
    background: #212323 ;
}

/* Poll option highlight */
.poll label:hover {
    background-color: #545656;
}

.secondColumn p, .secondColumn h3 {
    color: #EDEEEE ;
}
#poll, .poll {
    color: #EDEEEE;
    background: none ;
}
.poll.jsenabled label:hover {
    background: #18AE43 ;
}

/* remove Newsletter subscription box */
#newsletter {
    display: none;
}

/* Highlighted Products (Het bekijken waard) */
#highlightedProducts .description, #highlightedProducts .price {
    color: #EDEEEE ;
}

/* Uitgelichte User reviews */
.frontpage #community .userReview .userReviewDescription, .userReview {
    background: #454646 ;
    color: #EDEEEE;
}

/** Articles */
.article, .content {
    color: #EDEEEE ;
}
.article h2 {
    color: #B9133D;
}
.article h3 {
    color: #FFFFFF ;
}
/* Tables in articles */
.article table {
    background: #232525 ;
}

/* Author information next to article */
.authorBlock div.info {
    background-color: inherit;
}
.relatedAuthor .authorInfo td {
    color: #868686 ;
}

/* Inhoudsopgave reviews */
.tocContent {
    background: #323434 ;
/*    width: 100% ; */
}

/* Social buttons and Related Articles */
#socialButtonsContainer, #contentArea .centeredContent .articleOptions #shareButtonContent {
    display: none;
}
div.relatedContent {
    display: none;
}

/* Next/Prev article date colour */
table.nextPrevious tr td {
    color: #B7B4B2 ;
}

/* Modfilter text and width */
.modFilter {
    color: #B7B4B2 ;
}

/* Meuk sidebar */
.meukDetail .sidebar .section {
    background: #323434 ;
    color: #EDEEEE ;
}
table.meuklist {
    color: #EDEEEE;
}

/** Comments */

/* Modfilter 'ongemodereerd' to question mark */
.modFilter .scoreButton.scorenone, .modFilter .scoreButton.wide {
    word-spacing: -999px;
    letter-spacing: -999px;
    display: none;
}
.modFilter .scoreButton.scorenone:after, .modFilter .scoreButton.wide:after {
    content: '?';
    word-spacing: normal;
    letter-spacing: normal;
    background: linear-gradient(to bottom, #C8CBCB, #BEC1C1) #C8CBCB;
    padding: 3px 3px;
}

/* Collapse buttons */
#collapseButtons {
    display: none;
}

/* Bar top of comment */
.reactie .topBorder {
    height: 0 ;
}
.reactieBody {
    background: #212323;
}
.reactie {
    color: #EDEEEE;
    border-left: 1px solid #545454;
}
/* +2 comments */
.reactieBody.informative {
    background: #323535 ;
    border: 1px solid #4D4F4F ;
}
/* +3 comments */
.reactieBody.spotlight {
    background: #454747 ;
    border: 1px solid #6D6F6F ;
}
/* Odd white line at last comment*/
.reactie.last > .reactieContainer {
    border-left: 1px solid #545454 ;
}
/* Blockquote colour a bit lighter */
.reactieContent blockquote {
    color: #A9A9A9 ;
}

/** Userreacties search */
.searchTable {
    background: #323434 ;
    width: 100% ;
}
/** User tab V&A */
div.pwLinks ul li, div.pwLinks ul li a {
    color: #EDEEEE ;
}
.pwLinks {
    background: #323434 ;
}
/* Wishlist */
.tabContent .article table {
    background: #2E2F2F ;
}
div.inventory h3.title, div.inventory h3.titleShow {
    color: #0067A2 ;
}

/* User settings */
.settingsContent {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/** Gallery fotoalbum */
form table td {
    color: #FFFFFF ;
}
#fotoalbum .sidebar {
    background: #212323;
}

/** Tweakblog admin table */
form table.tweakblog {
    background: #2E2F2F ;
}

/** Karmastore */
.mainColumn table.itemList {
    background: #2E2F2F ;
}

/* Abbo page info */
.aboShop .info {
    background: inherit;
}

/* No social */
#social, .social, #modernSocialButtonsContainer {
    display: none ;
}
/* Change text background below article
   in case we do want to have the buttons */
#toggleButtonTxt {
    background: #212323 ;
}
/* Do not show the buttons at all below the article */
#socialButtons {
    display: none ;
}
/* Kill LOI block */
div#loi {
    display: none;
}

/** Pricewatch */
#header h1 .subtitle {
    color: #EDEEEE ;
}

/* Product display list */
/* White top bar */
#top #entity, #top .pageTabsContainer {
    background: #323434 ;
}
#entity>div {
    border-top: none ;
}

/* Add to wishlist or inventaris */
.popup_style .bar.header {
    color: #EDEEEE;
}
.popup_style .collectionAddForm .extraLabel .primaryLabel {
    color: gray;
}

/** Filters */
/* Box below filters */
.filterBlock {
    background: inherit;
}

#categoryBrowser div, #categoryBrowser .sublist {
    background: #323434 ;
    border: 1px solid #171818 ;
}
#categoryBrowser .large li {
    border-bottom: 1px solid #171818 ;
    border-right: 1px solid #171818 ;
}
#categoryBrowser {
    background: #282929 ;
    border: 1px solid #171818 ;
}

.popularProductListing table.listing tr td, .popularProductListing table.listing tr td a, .articleColumn table.listing tr td, .articleColumn table.listing a {
    background: #323434 ;
}
#tweakbase {
    margin-top: 51px;
}
.listOptions .pageIndex {
    color: #EDEEEE;
}
.productCompare table.listing tr td, .productCompare table.listing tr td a, .productCompare table.listing th, .itemFilter table.listing tr td, .itemFilter table.listing tr td a, table.spec-detail tr.diff td {
    background: #323434 ;
}
.productCompare table.listing tr th.compare {
    background-position: 14px 19px ;
}
.productCompare table.listing tr td.compare {
    background-position: 14px -1px ;
    border: none ;
}
.productCompare table.listing .compare { 
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAABUAQMAAABnUf89AAAABlBMVEUAGAXDxsa+Z6rqAAAAAXRSTlMAQObYZgAAABZJREFUCFtjXMXAwMDA0DBAJFZBepEAjDwVLKcRyjUAAAAASUVORK5CYII=") no-repeat transparent ;
}

table.listing th .listOptions .sortable.sortorder .dropdown li, table.listing th .listOptions .sortable.sortorder .dropdown li a {
    color: #000000 ;
}

.relatedBlock table.listing tr td, .relatedBlock table.listing a, .relatedBlock {
    background: #2D2E2E ;
}
.relevancyColumn .relationboxBlock .thumb a, .relatedBox .thumb a {
    background: #484848 ;
    border: 1px solid #595959 ;
}
/* Sort dropdown */
div.sortable.sortorder ul li a {
    color: #000000 ;
}

/* Bestelkosten berekenen */
/* Right column colour */
#costTypeSelect, .costFilter {
    background: none ;
}
/* Article table */
.priceTable tbody tr.even {
    background: #454548 ;
}
.priceTable tbody tr {
    background: #343437 ;
}
/* Shop table */
table.shoppingCart tr.even td {
    background: #454548 ;
    color: #EDEEEE ;
}
table.shippingCart tr td {
    background: #343437 ;
    color: #EDEEEE ;
}
table.shoppingCart .pricelisthead td, table.shoppingCart .pricelist td {
    color: #EDEEEE ;
}

/* Specs */
td.spec-column, table.spec-detail td.spec-group-name {
    color: #EDEEEE ;
}
table.spec-detail td.spec-index-column {
    color: #838686 ;
}
.specs .popularSpecs, .fixedLabels .specs .popularSpecs td.spec-label span {
    background: #343232 ;
}
.specs h3.bar {
    background: #232121 ;
}
.specs td.spec-label, .specs td.spec {
    color: #EDEEEE ;
}
#productSpecifications tbody tr:hover td, .fixedLabels #productSpecifications tbody tr:hover td.spec-label span, #productSpecifications tbody tr.diff:hover td {
    background-color: #323282 ;
}

/* Shop Review */
.secondColumn {
    float: right ;
}
.rightInfoBlock {
    background: none ;
}
#reacties.shopSurvey .reactie {
    border: 1px solid #DBDEDE;
}

/* User Review */
.ScorecardView {
    background-color: #232121 ;
    color: #EDEEEE;
}
/* Review tab has some black text colour */
.articleColumn.userreview .userReviewPageInfo {
    color: #EDEEEE;
}

/* Product comparison */
#compareSpecsHeader.fixed .wrap {
    background-color: #313232 ;
}
/* Add product */
#compareSpecsHeader table td.add a {
    background: none;
}
#compareSpecs .addToCompareSearch .wrap {
    background: #313232;
}
div#productSpecifications.specs.toggle tr th .bar {
    background: #565656 ;
}

/* Specs same */
div#productSpecifications.specs.toggle tr td.spec, div#productSpecifications.specs.toggle tr td.spec-label {
    color: #EDEEEE ;
}
/* Specs differ */
div.productSpecifications.specs.toggle tr.diff {
    background: #545454 ;
    color: #EDEEEE ;
}
div#productSpecifications.specs.toggle table.popularSpecs tr td.spec, div#productSpecifications.specs.toggle table.popularSpecs tr td.spec-label {
    background: #545454 ;
}

/* Downloads */
.downloadDetails {
    background: inherit;
}

/*******
   GoT
 *******/
/* Breadcrumbs */
.breadcrumb a, .action_list a {
    color: #828585 ;
}
.bulletSeparatedList > li:first-child::before { 
    content: "" ;
}

/** Forum tabs */
#forum_tabs li a {
    color: #ABAAAA ;
}
#forum_tabs li.active a {
    color: #FFFFFF ;
}

/* Bookmarks */
.faux p {
    color: #FFFFFF ;
}

/** Search results */
table.forumlisting .preview .content {
    background: #212323 ;
}
table.forumlisting>tbody>tr>td {
    background: #323434 ;
}
/* Search filter */
#filter, .filterOption.active {
    background: #212323 ;
}
.filterBlock h4, .filterOption h4 {
    color: #EDEEEE ;
}
.filterOption li, .filterOption label {
    color: #919494 ;
}
.filterOption label.selected {
    color: #000000 ;
}

/** Colourize headers */
.channelHeader h2 {
    color: #FFFFFF ;
}
.thumb.category {
    background: 50% 5px no-repeat ;
}
.forumList:nth-child(2) table.listing th  {
    background: #0044EE ;
}
/* Computers */
.forumList:nth-child(3) .channelHeader, .thumb.category.core {
    background-color: #A30028 ;
}
.thumb.category.core { 
    background-image: url("https://tweakimg.net/g/if/categories/computers_x2.png") ;
}
/* IT Pro */
.forumList:nth-child(4) .channelHeader, .thumb.category.pro {
    background-color: #400072 ;
}
.thumb.category.pro { 
    background-image: url("https://tweakimg.net/g/if/categories/itpro_x2.png") ;
}
/* Games */
.forumList:nth-child(5) .channelHeader, .thumb.category.games {
    background-color: #0E8F1D ;
}
.thumb.category.games { 
    background-image: url("https://tweakimg.net/g/if/categories/games_x2.png") ;
}
/* Beeld en Geluid */
.forumList:nth-child(6) .channelHeader, .thumb.category.electronics {
    background-color: #BD3500 ;
}
.thumb.category.electronics { 
    background-image: url("https://tweakimg.net/g/if/categories/electronics_x2.png") ;
}
/* Tablets en Telefoons */
.forumList:nth-child(7) .channelHeader, .thumb.category.mobile {
    background-color: #04926C ;
}
.thumb.category.mobile { 
    background-image: url("https://tweakimg.net/g/if/categories/mobile_x2.png") ;
}
/* General Chat */
.forumList:nth-child(8) .channelHeader, .thumb.category.chat {
    background-color: #8A33CC ;
}
.thumb.category.chat { 
    background-image: url("https://tweakimg.net/g/if/categories/chat_x2.png") ;
}
/* Tweakers Feedback */
.forumList:nth-child(9) .channelHeader, .thumb.category.feedback {
    background-color: #A57D00 ;
}
.thumb.category.feedback { 
    background-image: url("https://tweakimg.net/g/if/categories/heart_x2.png") ;
}
/* A51 */
.forumList:nth-child(10) .channelHeader, .thumb.category.area51 {
    background-color: #99FF00 ;
}
.thumb.category.area51 { 
    background-image: url("https://tweakimg.net/g/if/categories/alien_x2.png") ;
}

/* Topic listing heading colour */
table.listing th a {
    color: #FEFEFE ;
}
/* Border around image */
.channelHeader .thumb {
    border: none ;
}

/** Listing borders */
table.listing td {
    border-top: 0px solid #000000 ;
    border-bottom: 1px solid #000000 ;
}
table.listing td.last {
    border-right: 1px solid #000000 ;
}
table.listing td.ind, table.listing td.ind2 {
    border-left: 1px solid #000000 ;
}
/* Decrease space between forum sections */
.forumList table.listing {
    margin-bottom: 5px ;
}

/** Forum Description */
#title p.forumdesc {
    color: #EDEEEE ;
}
/** GoT Topic listings  */
table.listing td, table.listing td a {
    background: #121212 ;
    color: #EDEEEE ;
}
table.listing td.topic a, table.listing td.title a { 
    color: #EDEEEE ;
}
/* Listing height */
table.listing td, table.listing th {
    padding: 4px 5px ;
}
table.listing th {
    background: #3E3E3E ;
}
/* Make the topic title cursive when you are the last that posted in it */
/*table.listing td.topic a[title="Laatste reactie geplaatst door Hero of Time"] {
    font-style: italic;
}*/

/* Mijn Topics bar .find_topics.poster*/
div.info {
    background: #232121;
    color: #edeeee;
}

/** Forum replies */
/* Forum heading on top for working links */
#forumheading { 
    position: relative;
    z-index: 1;
}
/* Viewcounter colour */
.action_list li.viewcount {
    color: gray;
}

#content #sidebar #tweakbase_relations {
    margin: 0px 5px;
}

/* Message content */
div.message, div.faq, form.form1, form.form2, #folders, #myprofilecontainer, table.info {
    background: #212323 ;
    color: #EDEEEE ;
}
#messages, .topic_actions {
    padding-left: 5px ;
}
div.message div.post div.messagecontent {
    margin-right: 5px ;
}
/* Hyperlinks in messages Tweakers green */
div.messagecontent a {
    color: #D9FF26 ;
}
/* Members Only */
.membersonly {
    background: #00A000 ;
}
div.membersonly a {
    color: #000000 ;
}
/* Hyperlinks in RML list */
table.rml a {
    color: #DDDD00 ;
}
/* RML list background */
table.rml td {
    background: #505050 ;
}
table.rml th {
    background: #606060 ;
}
/* Remove space between messages */
div.message, div.faq {
    margin-bottom: 0px ;
}

/*** Zeef always green ***/
div.message.admin[data-owner-id="2030"] div.poster.avatar div.userheader p.username.ellipsis a.user {
    color: #00BB00 ;
}

/* Make your own post more visible, now with gradient! */
div.message.ownpost {
    background-image: linear-gradient(#404040 10px, #212323 40px) ;
}
/* Give the header of the TS a different colour */
div.message.topicstarter {
    background-image: linear-gradient(#323434 10px, #212323 40px) ;
}
/* And the date a different colour */
div.topicstarter div.messageheader div.date a {
    color: #008800 ;
}
/* Remove the badge while we're at at too */
.labelCard.topicstarter {
    display: none ;
}

/* Add same bullet point before rating to increase spacing between 'Quote' and rating */
.action_list li.rating .ratingcount::before {
    content: '\2022' ;
    margin: 0 6px ;
    color: #828585 ;
}

/* Change big thumb icon to smaller one that looks better */
.action_list li.rating .ratingcount {
    font-size: inherit;
}
.action_list li.rating .thumbsup.rated, .action_list li.rating.can_be_rated .thumbsup {
    background: inherit;
    background-image: inherit;
    border: none;
}
.action_list li.rating .thumbsup {
    width: 14px;
    height: 14px;
    vertical-align: initial;
    top: 0;
    position: inherit;
    top: inherit;
    background: none;
    background-image: none;
    border: none;
    border-radius: initial;
}
.action_list li.rating .thumbsup:before {
    background: url(https://static.tweakers.net/ext/f/N3fRBdthYAVi027KASIL2LG8/full.png) no-repeat -30px -269px;
}
.action_list li.rating .thumbsup.rated:before {
    background-position: -45px -269px;
}
.action_list li.rating.can_be_rated .thumbsup:not(.rated):hover {
    background: none;
    background-image: none;
    border: none;
}
.action_list li.rating .ratingcount {
    min-width: initial;
    color: #828585;
}

/* Question topic tip bar */
.bar.tip {
    background: #545454;
}

/* New Messages notification bar */
#newMessageNotification {
    background: #000000;
}
#newMessageNotification:hover {
    background: #232121;
}

/* Some padding for the post */
div.message div.post {
    padding: 5px 2px 4px 10px ;
}
/* Post version on diff */
div.message div.poster {
    color: #EDEEEE ;
}

/** Quote boxes */
div.messagecontent blockquote {
    color: #FFFFFF ;
}
div.message-quote-div {
    background: #060606 ;
    color: #FFFFFF ;
}
/* Disable quote folding */
.messagecontent .message-quote-div.large-quote {
    height: auto ;
    overflow: visible;
    padding-bottom: 10px ;
}
.messagecontent .toggle-quote {
    display: none;
}
/* Quote user link */
div.messagecontent div.message-quote-div a.messagelink, div.messagecontent div.message-quote-div a.messagelink:hover {
    color: #FFFFFF ;
}

/** Code boxes */
table.phphighlight td.phphighlightline, table.phphighlight td.phphighlightcode {
    border: 1px solid #FFFFFF ;
}
table.phphighlight td, table.phphighlight td pre, table.phphighlight td code {
    color: #000000 ;
    background: #DDDDDD ;
}

/* Pre-box */
div.pre pre {
    background: #323434 ;
}

/* /me tag */
.me, div.messagecontent span.me a {
    color: #00AA00 ;
}

/* Modbreak text */
.mbr {
    color: #AD0009 ;
}

/** Spoilers */
/* Don't show URLs in spoilers until hovered or clicked */
.spoiler, .messagecontent div.spoiler a, .messagecontent .message-quote-div div.spoiler a {
    color: #000000;
}

.spoiler:hover, div.spoiler a:hover, .spoiler img:hover, .messagecontent div.spoiler a:hover, .messagecontent .message-quote-div div.spoiler a:hover, .spoiler>*:hover {
    color: white ;
    visibility: visible ;
}

/* lazy image loading */
img.lazyimg {
    background: #0a0a0a ;
}
/* image broken */
img.error {
    background: #3f1111;
}

/** User info **/
/* Ugly klipklap arrow */
.userklipklap {
    background: none ;
    border: none ;
}
.userklipklap > div {
    background: #202121 ;
}
.userklipklap .online {
    color: #63C000 ;
}
/* Show user reg date and postcount */ 
div.message div.post div.userdetails div.userdata div.extra { 
    display: block ;
}

/* Username */
.user {
    color: #FFFFFF ;
}

/* Crew username*/
.crew, .crew:visited {
    color: #B9133C ;
}

/* Pimp user, aka luser :+ */
.pimp, a.pimp:hover, .pimp:visited {
    color: #DE47DC ;
}

/* Pagenumbers */
.pagecounter {
    margin: 5px 0px 0px ;
}

/** Quick Reply */
#reageer.bar {
    background: #303030 ;
    border: 0px solid #D2D4D4 ;
    border-top: 1px solid #D2D4D4 ;
    border-left: 1px solid #D2D4D4 ;
    border-right: 1px solid #D2D4D4 ;
}
/* Topicwarning */
fieldset.modbreak {
    background: #800000 ;
}
fieldset.modbreak legend {
    color: #FFE900 ;
}
fieldset.modbreak a {
    color: #09FF26 
}
.bar.warning {
    background-color: #880000 ;
    color: #FFFFFF ;
}

/* Report post */
form#message_form.insertMessage {
    background: #232121 ;
}
div.wrap div#content h3.bar {
    background: #232121 ;
}
textarea#messageBox.report {
    background: #322121 ;
}

/* Toon Voorbeeld - make it true visible button */
form input.forumlink { 
    cursor: pointer;
    background: #0A93CA ;
    border: 1px solid #0987B8;
    border-radius: 1px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.102);
    color: #FFFFFF ;
    font-size: 12px;
    height: 26px;
    padding: 0px 10px;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.149);
}
/* Reply dropdown for page selection */
#footer div.buttonnav select, #quotemessages div.buttonnav select {
    color: #EDEEEE ;
}
/* Button toolbar */
#toolbar img {
    background: #FFFFFF;
}

/* Make sure Reageer has correct text colour */
.fancyButton {
    color: #FFFFFF ;
}

/* New topic and topic page navigation buttons */
.fancyButton.grey {
    background: linear-gradient(to bottom, #0A93CA, #0A8ABD) #0A93CA ;
    border: 1px solid #0987B8 ;
}

.fancyButton:hover { 
    background: linear-gradient(to bottom, #0CA3D4, #0B98C5) #0CA3D4 ;
    border-bottom-color: #0B94BF ;
    border-left-color: #0B94BF ;
    border-right-color: #0B94BF ;
    border-top-color: #0B94BF ;
}

.fancyButton:focus { 
    box-shadow: 0px 0px 4px rgba(9, 135, 184, 0.749) ;
}
a.fancyButton.grey.next {
    color: #FFFFFF ;
}

/* Topic nav */
.pageDistribution .previous, .pageDistribution .next, .pageDistribution .last { 
    background: no-repeat linear-gradient(to bottom, #0A93CA, #0A8ABD) #0A93CA ;
    border: 1px solid #0A88BA  ;
    height: 15px ;
    line-height: 15px ;
    color: #FFFFFF ;
}
.pageDistribution .previous { 
    background-image: url("https://tweakimg.net/g/prev_arrow.png") ;
    background-position: 5px 3px ;
}

/* Relationeditor (Onderwerpen koppelen) */
.relationManager dd ul.bulletSeparatedList, ul.bulletSeparatedList {
    color: #EDEEEE ;
}
#relationeditor table tr td {
    background: #2F3131 ;
}
#relationeditor h3 {
    color: #327398 ;
}
form.insertMessage.relationManager {
    background: #232121 ;
}

.relationeditor input[type=text] {
    color: #EDEEEE ;
    background: #323131 ;
}

.relationeditor .resultItem, .relationeditor .resultFooter, .relationeditor .resultItemSimple {
    color: #EDEEEE ;
    background: #424141 ;
}
.relationeditor .resultItem .title, .relationeditor .resultItemSimple .title, .relationeditor .resultItem .type, .relationeditor .resultItemSimple .type {
    color: #EDEEEE ;
}

/* Dropdowns */
select {
    background: #000000 ;
    color: #EDEEEE ;
}
/* "Zut" */
h3.inverted {
    color: #FFFFFF ;
}